@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Halvar-Bold';
  src: url('/fonts/halvar-bold.woff2') format('woff2'),
       url('/fonts/halvar-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --page-header-height: 100px;

  --padding-desktop: 32px;

  --color-primary-light: #ffffff;
  --color-primary-dark: #293743;
  --color-secondary-light: #ceb78b;
  --color-gray: #b3b3b3;

  --font-size-2xl: 4.44vw;

  --font-primary: 'Halvar-Bold', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-family: var(--font-primary);
}

.swiper-wrapper {
  transition-timing-function: ease-out!important;
}

@layer utilities {
  .link-hover-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .link-hover-opacity:hover {
    opacity: 0.8;
  }

  .image-shadow {
    background-image:
      linear-gradient(180deg, rgba(17, 27, 35, 0.60) 0%, rgba(25, 39, 50, 0.00) 51.8%);
  }
}
